

<h1>Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Beer club</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><button type="button" class="btn btn-light"><%= membership.beer_club_id %></button></td>
        <td><button type="button" class="btn btn-light"><%= membership.user_id %></button></td>
        <td><button type="button" class="btn btn-light"><%= link_to 'Show', membership %></button></td>
        <td><button type="button" class="btn btn-light"><%= link_to 'Edit', edit_membership_path(membership) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path, class:"btn btn-primary" %>
