

<p>
 <font size="6"> <strong>
  <%= @beer_club.name %>, <%= @beer_club.city %></strong></font>
</p>

<p>
  <font size="4">
  <strong>Founded in
  <%= @beer_club.founded %></strong></font>
</p>

<p>
  <font size="3">
  <strong>members
  </strong></font>
</p>

<ul>
  <% @beer_club.users.each do |user| %>
    <li><%= link_to user.username, user %></li>
  <% end %>
</ul>
<p>
<% if current_user%>
<% if @beer_club.users.find_by(id:current_user.id ).nil?%>
  <%= form_for(@membership) do |f| %>
   <%= f.hidden_field :beer_club_id %>
   <%= f.submit value:"join the club" %>
  <% end %>
 <% else %>
   <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership" %>
   <% end %>
  <% end %>
</p>
  
<% end %>
<%= edit_and_destroy_buttons(@beer_club) %>
<%= link_to 'Back', beer_clubs_path %>
