<h2>Ratings</h2>
<p> Number of ratings: <%= @ratings.count %></p>
<h5>Top 3 beers</h5>
<%= render 'list_top3', r: @top_beers %>

<h5>Top 3 breweries</h5>
<%= render 'list_top3', r: @top_breweries %>

<h5>Top 3 Styles</h5>
<%= render 'list_top3', r: @top_styles %>

<h5>Top 3 most active users</h5>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Score</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  
  <% @top_users.each do |u| %>
  <tr>
    <td> <%= u.ratings.count %></td>
    <td> <button type="button" class="btn btn-light"><%= link_to u.username, u %></button></td>
  </tr>
  <% end %>
  </tbody>
</table>

<h5>Recent ratings</h5>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Score</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  
  <% @recent.each do |rating| %>
  <tr>
    <td> <%= rating.score %></td>
    <td> <button type="button" class="btn btn-light"><%= link_to rating.beer.name, rating.beer %></button></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('new rating', new_rating_path, class:"btn btn-primary") if current_user %>
