<p id="notice"><%= notice %></p>

<p>
  <font size="6"><strong> <%= @style.name %></strong></font>
 
</p>
 <%= @style.description%>
<br/>
<font size ="3"><p>beers</p></font>
  <% @style.beers.each do |beer| %>
   <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, brewery_path%></li>
 <% end %>