<p id="notice"><%= notice %></p>

<p>
  <font size = 6><strong>
  <%= @place.name %></strong></font>
</p>
<p>
  <br/>
  <font size = 4><i>
  <%= @place.status %></i></font>
  <br/>
  <br/>
  <font size = 3>
  <%= @place.street %></font>
  <br/>
  <font size = 3>
  <%= @place.zip%> <%=@place.city %></font>
</p>